@font-face {
  font-family: yekan;
  font-style: normal;
  font-weight: normal;
  src: url('../shared/static/fonts/Yekan/iranyekanwebregularfanum.eot');
  src: url('../shared/static/fonts/Yekan/iranyekanwebregularfanum.eot?#iefix')
      format('embedded-opentype'),
    url('../shared/static/fonts/Yekan/iranyekanwebregularfanum.woff') format('woff'),
    url('../shared/static/fonts/Yekan/iranyekanwebregularfanum.ttf') format('truetype');
}
@font-face {
  font-family: yekanB;
  font-style: normal;
  font-weight: 500;
  src: url('../shared/static/fonts/Yekan/iranyekanwebextraboldfanum.eot');
  src: url('../shared/static/fonts/Yekan/iranyekanwebextraboldfanum.eot?#iefix')
      format('embedded-opentype'),
    url('../shared/static/fonts/Yekan/iranyekanwebextraboldfanum.woff') format('woff'),
    url('../shared/static/fonts/Yekan/iranyekanwebextraboldfanum.ttf') format('truetype');
}

.yekan-bold {
  font-family: yekanB;
}
