@import './fonts.scss';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'yekan', sans-serif;
}

html,
body {
  direction: rtl;
  max-width: 100vw;
  text-align: right;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'yekan', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../shared/static/animate.min.css';
