*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  position: relative;
  font-weight: normal;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  overflow: hidden;
  position: relative;
  font-family: Vazirmatn;
  background-color: #111B21;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.background-pattern {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.1;
  height: 100vh;
  position: absolute;
  background: url('../images/chat-background-pattern.png') center repeat;
}
